.skill__box {
    width: 11.25rem;
    height: 11.25rem;
    margin: 1.25rem;
}

.skill__img {
    width: 5.25rem;
    margin: .625rem 0;
    opacity: 60%;
}

.skill__tech {
    text-transform: uppercase;
    font-size: .875rem;
    margin: .375rem;
    color: var(--gold);
}